<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>banking_ap</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CustomerLoginServlet</display-name>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <servlet-class>com.servlet.CustomerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <url-pattern>/customer_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/admin_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerHomeServelet</display-name>
    <servlet-name>CustomerHomeServelet</servlet-name>
    <servlet-class>com.servlet.CustomerHomeServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerHomeServelet</servlet-name>
    <url-pattern>/customer_home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminHomeServlet</display-name>
    <servlet-name>AdminHomeServlet</servlet-name>
    <servlet-class>com.servlet.AdminHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHomeServlet</servlet-name>
    <url-pattern>/admin_home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllCustomersServlet</display-name>
    <servlet-name>AllCustomersServlet</servlet-name>
    <servlet-class>com.servlet.AllCustomersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllCustomersServlet</servlet-name>
    <url-pattern>/all_customers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCustomerServlet</display-name>
    <servlet-name>ViewCustomerServlet</servlet-name>
    <servlet-class>com.servlet.ViewCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCustomerServlet</servlet-name>
    <url-pattern>/admin_to_customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCustomerServlet</display-name>
    <servlet-name>AddCustomerServlet</servlet-name>
    <servlet-class>com.servlet.AddCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomerServlet</servlet-name>
    <url-pattern>/add_customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>com.servlet.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/change_password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletCustomerServlet</display-name>
    <servlet-name>DeletCustomerServlet</servlet-name>
    <servlet-class>com.servlet.DeletCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletCustomerServlet</servlet-name>
    <url-pattern>/delete_customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeCustomerDetails</display-name>
    <servlet-name>ChangeCustomerDetails</servlet-name>
    <servlet-class>com.servlet.ChangeCustomerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeCustomerDetails</servlet-name>
    <url-pattern>/change_customer_details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithDrawServlet</display-name>
    <servlet-name>WithDrawServlet</servlet-name>
    <servlet-class>com.servlet.WithDrawServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithDrawServlet</servlet-name>
    <url-pattern>/withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositServlet</display-name>
    <servlet-name>DepositServlet</servlet-name>
    <servlet-class>com.servlet.DepositServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositServlet</servlet-name>
    <url-pattern>/deposit_</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckPdfServlet</display-name>
    <servlet-name>CheckPdfServlet</servlet-name>
    <servlet-class>com.servlet.CheckPdfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckPdfServlet</servlet-name>
    <url-pattern>/checkpdf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTransactionsServlet</display-name>
    <servlet-name>ViewTransactionsServlet</servlet-name>
    <servlet-class>com.servlet.ViewTransactionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTransactionsServlet</servlet-name>
    <url-pattern>/view_transactions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadPdfServlet</display-name>
    <servlet-name>DownloadPdfServlet</servlet-name>
    <servlet-class>com.servlet.DownloadPdfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadPdfServlet</servlet-name>
    <url-pattern>/download_pdf</url-pattern>
  </servlet-mapping>
</web-app>